<div class="row pt-4 pb-2">
    <div class="col-md d-grid mx-auto">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><img class="ps_img_resize" title="Public grid" src="assets/images/1x/asset1.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img class="ps_img_resize" title="Energy storage" src="assets/images/1x/asset2.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img class="ps_img_resize" title="Energy booking" src="assets/images/1x/asset3.png"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img class="ps_img_resize" title="Electric vehicles" src="assets/images/1x/asset4.png"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img class="ps_img_resize" title="House consumption" src="assets/images/1x/asset5.png"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img class="ps_img_resize" title="Solar PV" src="assets/images/1x/asset6.png"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img class="ps_img_resize" title="Wind energy" src="assets/images/1x/asset7.png"></a>
            </li>
        </ul>
    </div>    
</div> 