<div id="ps_tab2" class="container bg-light">
    <div class="row ps_padding_20">
        <div class="col-md-6">
            <div class="row pt-4">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabgeneral" routerLinkActive="active" title="New Asset option"><img title="General Information" src="assets/images/1x/btn_assetGeneral.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><img title="New Asset" src="assets/images/1x/btn_assetNewSelected.png"></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div>    
            
            <div class="row">
                <div class="col-md-3 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabimpconfigfile" routerLinkActive="active" title="Import Configuration File option"><img title="Import Configuration File" src="assets/images/1x/btn_impConfFiles.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabimpdatafile" routerLinkActive="active" title="Import Data File option"><img title="Import Data File" src="assets/images/1x/btn_impDataFiles.png"></a></div>
                <div class="col-md-2 d-grid mx-auto"></div>
            </div> 
            
            <div class="row">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabmodify" routerLinkActive="active" title="Asset Modify option"><img title="Asset Modify" src="assets/images/1x/btn_assetModify.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/calculate" routerLinkActive="active" title="Calculate option"><img title="Calculate" src="assets/images/1x/btn_calculate.png"></a></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div> 
        </div>
          
        <div class="col-md-6 ps_form rounded ps_white">
            <div class="row pt-4">
                <app-menu-input-data></app-menu-input-data>
                <h1><img class="img-fluid ps_imgsize" title="Import Data Files" src="assets/images/1x/newAssetImage.png"> New asset: Battery</h1>
                <h2>Please insert the data.</h2>
            </div>            
                     
            <div class="row">
                <div class="col-8 d-grid mx-auto">
                    <div class="ps_logo_green">How do I create a new asset?</div>
                    <div>Nam eu turpis at nibh consequat placerat. Praesent eu est hendrerit, pharetra ligula ut, semper nisl. Nam libero nisi, consectetur sed varius eget, mollis id nisi. </div>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <mat-slide-toggle name="publicGridAnvnanced" formControlName="publicGridAnvnanced" id="publicGridAnvnanced" #publicGridAnvnanced (change)="toggleShow()">Advanced</mat-slide-toggle>                        
                    </mat-form-field>
                </div>
            </div> 
            
            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="size" id="size" #size type="text" class="form-control ps_renergise_btn" placeholder="Energy capacity of the battery [kWh]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="soc" id="soc" #soc type="text" class="form-control ps_renergise_btn" placeholder="Current state of charge  of the battery [%]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="soc_min" id="soc_min" #soc_min type="text" class="form-control ps_renergise_btn" placeholder="Minimum stat of charge usable [%]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="soc_max" id="soc_max" #soc_max type="text" class="form-control ps_renergise_btn" placeholder="Maximum state of charge usable [%]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="charge_eff" id="charge_eff" #charge_eff type="text" class="form-control ps_renergise_btn" placeholder="Efficiency of the charging process [-]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="disch_eff" id="disch_eff" #disch_eff type="text" class="form-control ps_renergise_btn" placeholder="Efficiency of the discharging process [-]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="max_charge" id="max_charge" #max_charge type="text" class="form-control ps_renergise_btn" placeholder="Maximum C-rate permitted in charging mode [1/h] (kW/kWh)">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="power_profile" id="power_profile" #power_profile type="text" class="form-control ps_renergise_btn" placeholder="Power profile of the asset [kW]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>
            
            

            <div class="row pt-1 pb-2">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn ps_renergise_btn" (click)="btnClickCancel()">Clear</button>
                </div>
            <div class="col-4 d-grid mx-auto">
                <button type="button" class="btn ps_renergise_btn" (click)="btnClickAddAsset()">Add Asset</button>
            </div>
            <div class="col-4 d-grid mx-auto">
                
            </div>
        </div> 

      </div>
      
  </div>
</div>