<div id="ps_footer" class="container">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" src="assets/images/renaissance_logo_footer.png">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="ps_bold">CONTACTS</div>
          <div>Contact form</div>
      </div>
        <div class="col-md-2">
          <div class="ps_bold">INFO</div>
          <div>Info</div>
        </div>
        <div class="col-md-2">
          <div class="ps_bold">EXPLORE</div>
          <div>Home</div>
          <div>About</div>
          <div>My Projects</div>
        </div>
        <div class="col-md-2">
          <div class="ps_bold">LEGAL</div>
          <div>Privace policy</div>
        </div>
        <div class="col-md-2">
          <div class="ps_bold">FOLLOW</div>
          <div>Facebook</div>
          <div>Twitter</div>
          <div>LinkedIn</div>
        </div>
      </div>
    </div>
</div>
</div>
