<div id="ps_footer" class="container">
  <div class="row">
    <div class="col-4">
      <img alt="Renaissance logo" class="img-fluid" src="assets/images/1x/renaissance_logo_footer.png">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="ps_bold">CONTACTS</div>
          <div>Contact Form</div>
      </div>
        <div class="col-md-2">
          <div class="ps_bold">INFO</div>
          <div>Info</div>
          <div><a title="Renaissance official website" href="https://www.renaissance-h2020.eu/">Renaissance Website</a></div>
        </div>
        <div class="col-md-2">
          <div class="ps_bold">EXPLORE</div>
          <div><a title="Renaissance Home page" href="#">Home</a></div>
          <div>About</div>
          <div>My Projects</div>
        </div>
        <div class="col-md-2">
          <div class="ps_bold">LEGAL</div>
          <div><a title="Privacy Policy page" routerLink="/privacypolicy">Privacy Policy</a></div>
        </div>
        <div class="col-md-2">
          <div class="ps_bold">FOLLOW</div>
          <div><a title="Renaissance Facebook page" href="#">Facebook</a></div>
          <div><a title="Renaissance Twitter page" href="#">Twitter</a></div>
          <div><a title="Renaissance Linkedin page" href="#">LinkedIn</a></div>
        </div>
      </div>
    </div>
</div>

<div class="row pt-5">
  <div class="col ps_copyright"><img class="img-fluid" src="assets/images/EU-European-Union-Flag-icon.png"> This project has received funding from the European Union’s H2020 research and innovation programme under the grant agreement No 824342. All rights reserved.</div>
</div>

</div>
