#ps_newpage{
    min-height: 400px;
}

.ps_padding_20{
    padding: 20px;
}

.ps_renergise_btn{
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #3BABB0;
    color: #3BABB0;
    max-width: 30em;
}

.ps_renergise_btn:hover{
    border-radius: 10px;
    background-color: #3BABB0;
    border-color: #ffffff;
    color: #ffffff;
    max-width: 30em;
}

.ps_renergise_reverse_btn{
    border-radius: 10px;
    background-color: #3BABB0;
    border-color: #ffffff;
    color: #ffffff;
    max-width: 30em;
}

.ps_renergise_reverse_btn:hover{
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #3BABB0;
    color: #3BABB0;
    max-width: 30em;
}


.ps_form {
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #f8f8f8;
    padding: 20px; 
}

input[type=date]::-webkit-calendar-picker-indicator {
    
}