<div id="ps_tab7" class="container bg-light">
    <div class="row ps_padding_20">
        <div class="col-md-6">
            <div class="row pt-4">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabgeneral" routerLinkActive="active" title="New Asset option"><img title="General Information" src="assets/images/1x/btn_assetGeneral.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><img title="New Asset" src="assets/images/1x/btn_assetNewSelected.png"></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div>    
            
            <div class="row">
                <div class="col-md-3 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabimpconfigfile" routerLinkActive="active" title="Import Configuration File option"><img title="Import Configuration File" src="assets/images/1x/btn_impConfFiles.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabimpdatafile" routerLinkActive="active" title="Import Data File option"><img title="Import Data File" src="assets/images/1x/btn_impDataFiles.png"></a></div>
                <div class="col-md-2 d-grid mx-auto"></div>
            </div> 
            
            <div class="row">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabmodify" routerLinkActive="active" title="Asset Modify option"><img title="Asset Modify" src="assets/images/1x/btn_assetModify.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/calculate" routerLinkActive="active" title="Calculate option"><img title="Calculate" src="assets/images/1x/btn_calculate.png"></a></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div> 
        </div>
          
        <div class="col-md-6 ps_form rounded ps_white">
            <div class="row pt-4">
                <app-menu-input-data></app-menu-input-data>
                <h1><img class="img-fluid ps_imgsize" title="Import Data Files" src="assets/images/1x/newAssetImage.png"> New asset: Wind Turbine</h1>
                <h2>Please insert the data.</h2>
            </div>            
                     
            <div class="row">
                <div class="col-8 d-grid mx-auto">
                    <div class="ps_logo_green">How do I create a new asset?</div>
                    <div>Nam eu turpis at nibh consequat placerat. Praesent eu est hendrerit, pharetra ligula ut, semper nisl. Nam libero nisi, consectetur sed varius eget, mollis id nisi. </div>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <mat-slide-toggle name="publicGridAnvnanced" formControlName="publicGridAnvnanced" id="publicGridAnvnanced" #publicGridAnvnanced (change)="toggleShow()">Advanced</mat-slide-toggle>                        
                    </mat-form-field>
                </div>
            </div> 
            
            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="v_cin" id="v_cin" #v_cin type="text" class="form-control ps_renergise_btn" placeholder="Cut-in speed, minimum wind speed from which the turbine starts to produce energy [m/s]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="v_cout" id="v_cout" #v_cout type="text" class="form-control ps_renergise_btn" placeholder="Cut-out speed, maximum wind speed supported by the wind turbine, above this speed the turbine stops to produce energy. [m/s]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="v_rated" id="v_rated" #v_rated type="text" class="form-control ps_renergise_btn" placeholder="Rated speed, from this speed and above, the turbine produces its nominal power [m/s]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="p_rated" id="p_rated" #p_rated type="text" class="form-control ps_renergise_btn" placeholder="Nominal power produced by the turbine when the wind speed is between the rated speed and the cut-out speed [kW]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="money_per_kWh" id="money_per_kWh" #money_per_kWh type="text" class="form-control ps_renergise_btn" placeholder="Financial compensation perceived per kWh produced, for example green certificates [€/kWh])">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="wind_speed" id="wind_speed" #wind_speed type="text" class="form-control ps_renergise_btn" placeholder="Outdoor wind speed [m/s]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="power_profile" id="power_profile" #power_profile type="text" class="form-control ps_renergise_btn" placeholder="Power profile of the asset [kW]">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>            

            <div class="row pt-1 pb-2">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn ps_renergise_btn" (click)="btnClickCancel()">Clear</button>
                </div>
            <div class="col-4 d-grid mx-auto">
                <button type="button" class="btn ps_renergise_btn" (click)="btnClickAddAsset()">Add Asset</button>
            </div>
            <div class="col-4 d-grid mx-auto">
                
            </div>
        </div> 

      </div>
      
  </div>
</div>