<div class="row pt-4">
    <div class="col-md-1 d-grid mx-auto"></div>
    <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="General Information" src="assets/images/1x/btn_assetGeneral.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"></div>
    <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="New Asset" src="assets/images/1x/btn_assetNew.png"></a></div>
    <div class="col-md-4 d-grid mx-auto"></div>
</div>    

<div class="row">
    <div class="col-md-3 d-grid mx-auto"></div>
    <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Import Configuration File" src="assets/images/1x/btn_impConfFiles.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"></div>
    <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Import Data File" src="assets/images/1x/btn_impDataFiles.png"></a></div>
    <div class="col-md-2 d-grid mx-auto"></div>
</div> 

<div class="row">
    <div class="col-md-1 d-grid mx-auto"></div>
    <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Asset Modify" src="assets/images/1x/btn_assetModify.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"></div>
    <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Calculate" src="assets/images/1x/btn_calculate.png"></a></div>
    <div class="col-md-4 d-grid mx-auto"></div>
</div> 