<div id="ps_landingpage" class="container bg-light">
    <div class="row ps_padding_20">
      <div class="col-6">
        <app-left-side-logo></app-left-side-logo>
      </div>
      <div class="col-6">
        <h2>Let's get started!</h2>
        <h3>Create an account or login.</h3>
        <!--social media row-->
        <!--faceboot twitter in-->
        <app-socialmedia></app-socialmedia>

        <div class="row pt-4">
            <div class="col d-grid mx-auto">
              <button type="button" class="btn ps_renergise_btn" (click)="btnClickSignUp()">SIGN UP</button>
            </div>
        </div>
        <div class="row pt-1">
          <div class="col d-grid mx-auto">
            <button type="button" class="btn ps_renergise_btn" (click)="btnClickLogIn()">LOG IN</button>
          </div>
        </div>

        <div class="row pt-1">
          <div class="col d-grid mx-auto"><hr class="ps_horisontal_line"></div>
        </div>

        <div class="row pt-1">
          <div class="col d-grid mx-auto">
            <button type="button" class="btn ps_renergise_reverse_btn">TRY THE DEMO</button>
          </div>
        </div>

      </div>
  </div>
</div>