<!--social media row-->
<!--faceboot twitter in-->
<div class="row pt-1">
    <div class="col-md-2">
        <fa-icon [icon]="faFacebook" size="3x" [styles]="{'color': '#3BABB0'}"></fa-icon>
    </div>
    <div class="col-md-2">
        <fa-icon [icon]="faTwitter" size="3x" [styles]="{'color': '#3BABB0'}"></fa-icon>
    </div>
    <div class="col-md-2">
        <fa-icon [icon]="faLinkedin" size="3x" [styles]="{'color': '#3BABB0'}"></fa-icon>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
</div>