<div id="ps_loginpage" class="container bg-light">
    <div class="row ps_padding_20">
      <div class="col-6">
        <img class="img-fluid" src="assets/images/renaissance_landing_logo.png">
      </div>
      <div class="col-6">
        <h2>Log in</h2>
        <h3>Insert your email and password.</h3>
        <!--social media row-->
        <!--faceboot twitter in-->
        <app-socialmedia></app-socialmedia>

        <div class="row pt-1">
            <div class="col-6 d-grid gap-2 mx-auto">
              <button type="button" class="btn ps_renergise_btn" (click)="btnClickSignUp()">Email</button>
            </div>
        </div>
        <div class="row pt-1">
          <div class="col-6 d-grid gap-2 mx-auto">
            <button type="button" class="btn ps_renergise_btn" (click)="btnClickLogIn()">Password</button>
          </div>
        </div>

        <div class="row pt-1">
          <div class="col-3 d-grid gap-2 mx-auto"></div>
          <div class="col-3 d-grid gap-2 mx-auto">
            <button type="button" class="btn ps_renergise_btn" (click)="btnClickLogIn()">Back</button>
          </div>
          <div class="col-3 d-grid gap-2 mx-auto">
            <button type="button" class="btn ps_renergise_btn" (click)="btnClickLogIn()">Next</button>
          </div>
          <div class="col-3 d-grid gap-2 mx-auto"></div>
        </div>

      </div>
  </div>
</div>