<div id="ps_about" class="container bg-light">
    <div class="row ps_padding_20">
      <div class="col-6">
        <app-left-side-logo></app-left-side-logo>
      </div>
      <div class="col-6">
        <h2>Project Overview</h2>
        <h3></h3>
        <p>Renaissance project is an Innovation Action (IA) which aim is to deliver a community-driven scalable and replicable approach, to implement new business models and technologies supporting clean production and shared distribution of energy in local communities.</p>
        <p>In the first phase the Consortium will collect data to identify stable and equitable business cases in four Local Energy Communities (LEC) across Europe, thank to MAMCA analysis.</p>
        <p>The resulting scenarios will support the co-design of the ReEnergise tool, which will help identifying the optimal configuration for an integrated and decarbonised Local Energy Systems (LES). The tool will be tested in each Pilot Site and followed by a financial viability assessment.</p>
        <p>Thereafter an innovative platform for integrated management and value delivery across all actors will be implemented and interoperability realised.</p>
        <p>As a consequence, the energy communities of prosumers at demonstrator sites will be fully connected and the use of RES will likely increase beyond 27% .</p>
        <p>In the last phase, the RENAISSANCE approach will be simulated under market conditions connecting 10 sites across the globe, to demonstrate its scalability and replicability.</p>
        <p></p>
      </div>
  </div>
</div>