<div id="ps_tab6" class="container bg-light">
    <div class="row ps_padding_20">
        <div class="col-md-6">
            <div class="row pt-4">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabgeneral" routerLinkActive="active" title="New Asset option"><img title="General Information" src="assets/images/1x/btn_assetGeneral.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><img title="New Asset" src="assets/images/1x/btn_assetNewSelected.png"></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div>    
            
            <div class="row">
                <div class="col-md-3 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabimpconfigfile" routerLinkActive="active" title="Import Configuration File option"><img title="Import Configuration File" src="assets/images/1x/btn_impConfFiles.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabimpdatafile" routerLinkActive="active" title="Import Data File option"><img title="Import Data File" src="assets/images/1x/btn_impDataFiles.png"></a></div>
                <div class="col-md-2 d-grid mx-auto"></div>
            </div> 
            
            <div class="row">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/tabmodify" routerLinkActive="active" title="Asset Modify option"><img title="Asset Modify" src="assets/images/1x/btn_assetModify.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a routerLink="/calculate" routerLinkActive="active" title="Calculate option"><img title="Calculate" src="assets/images/1x/btn_calculate.png"></a></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div> 
        </div>
          
        <div class="col-md-6 ps_form rounded ps_white">
            <div class="row pt-4">
                <app-menu-input-data></app-menu-input-data>
                <h1><img class="img-fluid ps_imgsize" title="Import Data Files" src="assets/images/1x/newAssetImage.png"> New asset: Solar PV</h1>
                <h2>Please insert the data.</h2>
            </div>            
                     
            <div class="row">
                <div class="col-8 d-grid mx-auto">
                    <div class="ps_logo_green">How do I create a new asset?</div>
                    <div>Nam eu turpis at nibh consequat placerat. Praesent eu est hendrerit, pharetra ligula ut, semper nisl. Nam libero nisi, consectetur sed varius eget, mollis id nisi. </div>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <mat-slide-toggle name="publicGridAnvnanced" formControlName="publicGridAnvnanced" id="publicGridAnvnanced" #publicGridAnvnanced (change)="toggleShow()">Advanced</mat-slide-toggle>                        
                    </mat-form-field>
                </div>
            </div> 
            
            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="maxPowerSell" id="maxPowerSell" #maxPowerSell type="text" class="form-control ps_renergise_btn" placeholder="Maximum Power to Sell (in KW)">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="maxPowerBuy" id="maxPowerBuy" #maxPowerBuy type="text" class="form-control ps_renergise_btn" placeholder="Maximum Power to Buy (in KW)">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="sellPrice2Grid" id="sellPrice2Grid" #sellPrice2Grid type="file" class="form-control ps_renergise_btn" placeholder="Grid Selling Price (in &euro;/KWh)">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto">
                    <!--<fa-icon mat-raised-button [icon]="faSave" size="2x" [styles]="{'color': '#FCC78C'}"></fa-icon>-->
                </div>
            </div>

            <div class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="buyPrice2Grid" id="buyPrice2Grid" #buyPrice2Grid type="file" class="form-control ps_renergise_btn" placeholder="Grid Buying Price (in &euro;/KWh)">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto">
                    <!--<fa-icon mat-raised-button [icon]="faSave" size="2x" [styles]="{'color': '#FCC78C'}"></fa-icon>-->
                </div>
            </div>

            <div *ngIf="isShown==true" class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="co2Emissions" id="co2Emissions" #co2Emissions type="text" class="form-control ps_renergise_btn" placeholder="CO2 Emissions (in gCO2/KWh)">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div *ngIf="isShown==true" class="row pt-1">
                <div class="col-8 d-grid mx-auto">
                    <mat-form-field appearance="fill">
                        <input matInput name="monthlyPeakCost" id="monthlyPeakCost" #monthlyPeakCost type="text" class="form-control ps_renergise_btn" placeholder="Monthly Peak Cost (in &euro;/KWh)">
                    </mat-form-field>                
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>

            <div class="row pt-1 pb-2">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn ps_renergise_btn" (click)="btnClickCancel()">Clear</button>
                </div>
            <div class="col-4 d-grid mx-auto">
                <button type="button" class="btn ps_renergise_btn" (click)="btnClickAddAsset()">Add Asset</button>
            </div>
            <div class="col-4 d-grid mx-auto">
                
            </div>
        </div> 

      </div>
      
  </div>
</div>