<div class="row pt-4">
    <div class="col-md-1 d-grid mx-auto"><a href="#"><img class="img-fluid" title="Public grid" src="assets/images/1x/asset1.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"><a href="#"><img class="img-fluid" title="Energy storage" src="assets/images/1x/asset2.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"><a href="#"><img class="img-fluid" title="Energy booking" src="assets/images/1x/asset3.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"><a href="#"><img class="img-fluid" title="Electric vehicles" src="assets/images/1x/asset4.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"><a href="#"><img class="img-fluid" title="House consumption" src="assets/images/1x/asset5.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"><a href="#"><img class="img-fluid" title="Solar PV" src="assets/images/1x/asset6.png"></a></div>
    <div class="col-md-1 d-grid mx-auto"><a href="#"><img class="img-fluid" title="Wind energy" src="assets/images/1x/asset7.png"></a></div>
    <div class="col-md-5 d-grid mx-auto"></div>
</div>    

<div class="row">
    <div class="col-md-12 d-grid mx-auto"></div>
</div> 

<div class="row">
    <div class="col-md-12 d-grid mx-auto"></div>
</div> 