#ps_header{
    min-height: 100px;
}

.ps_bold{
    font-weight: bold;
}

.ps_header_img{
    width:100%;
}

.nav-link {
    color: #212945 !important;
}

a.nav-link:hover {
    color: #3BABB0 !important;
}

a.nav-link:active {
    color: #3BABB0 !important;
}
