<div id="ps_newpage" class="container bg-light">
    <div class="row ps_padding_20">
        <div class="col-md-6">
            <app-user-main-menu></app-user-main-menu>
          </div>
          
        <div class="col-md-6 ps_form rounded ps_white">
            <app-menu-input-data></app-menu-input-data>
            <h1><img class="img-fluid ps_imgsize" title="Import Data Files" src="assets/images/1x/newAssetImage.png"> New asset: public grid</h1>
            <h2>Please fill in the form.</h2>
            
            <div class="row pt-4">
                <div class="col-8 d-grid mx-auto">
                    <div class="ps_logo_green">What is ZZZ?</div>
                    <div>Nam eu turpis at nibh consequat placerat. Praesent eu est hendrerit, pharetra ligula ut, semper nisl. Nam libero nisi, consectetur sed varius eget, mollis id nisi. </div>
                </div>
                <div class="col-4 d-grid mx-auto"></div>
            </div>    
            
            <div class="row pt-1">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn ps_renergise_btn" (click)="btnClickCancel()">Cancel</button>
                </div>
            <div class="col-4 d-grid mx-auto">
                <button type="button" class="btn ps_renergise_btn" (click)="btnClickAddAsset()">Add Asset</button>
            </div>
            <div class="col-4 d-grid mx-auto">
                
            </div>
        </div> 

      </div>
      
  </div>
</div>