<div id="ps_signuppage" class="container bg-light">
    <div class="row ps_padding_20">
      <div class="col-6">
        <img class="img-fluid" src="assets/images/renaissance_landing_logo.png">
      </div>
      <div class="col-6">
        <h2>Let's get started!</h2>
        <h3>Create an account or login.</h3>
        <!--social media row-->
        <!--faceboot twitter in-->
        <div class="row pt-1">
            <div class="col-md-2">
              
            </div>
            <div class="col-md-2">
              
            </div>
            <div class="col-md-2">
              
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row pt-1">
            <div class="col d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn ps_renergise_btn">SIGN UP</button>
            </div>
        </div>
        <div class="row pt-1">
          <div class="col d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn ps_renergise_btn">LOG IN</button>
          </div>
        </div>

        <div class="row pt-1">
          <div class="col text-center">or</div>
        </div>

        <div class="row pt-1">
          <div class="col d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn ps_renergise_reverse_btn">TRY THE DEMO</button>
          </div>
        </div>

      </div>
  </div>
</div>