#ps_signuppage{
    min-height: 400px;
}

.ps_renergise_btn{
    border-radius: 10px;
    background-color: #ffffff !important;
    border-color: #3BABB0 !important;
    max-width: 20em;
}

.ps_renergise_btn:hover{
    border-radius: 10px;
    background-color: #3BABB0 !important;
    border-color: #ffffff !important;
    max-width: 20em;
}

input[type="email"] {
    color: #ffffff !important;
}