<div id="ps_landingpage" class="container bg-light">
    <div class="row ps_padding_20">
      <div class="col-6">
        <img src="assets/images/renaissance_landing_logo.png">
      </div>
      <div class="col-6">
        <h2>Let's get started!</h2>
        <h3>Create an account or login.</h3>
        <!--social media row-->
        <!--faceboot twitter in-->
        <div class="row">
            <div class="col-2">
                Facebook
            </div>
            <div class="col-2">
                Twitter
            </div>
            <div class="col-2">
                In
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>

        <div class="row">
            <div class="col-6">
              a
            </div>
            <div class="col-6">
              b
            </div>
        </div>
      </div>
  </div>
</div>