<div id="ps_loginpage" class="container bg-light">
    <div class="row ps_padding_20">
      <div class="col-6">
        <app-left-side-logo></app-left-side-logo>
      </div>
      <div class="col-6">
        <h2>Log in</h2>
        <h3>Insert your email and password.</h3>
        <!--social media row-->
        <!--faceboot twitter in-->
        <app-socialmedia></app-socialmedia>
        <form>
          <div class="form-group">
            <div class="row pt-4">                 
              <div class="col-6 d-grid mx-auto">
                <input required ngModel name="loginEmail" id="loginEmail" type="email" class="form-control ps_renergise_btn" placeholder="Email">
              </div>
              <div class="col-6 d-grid mx-auto"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row pt-1">                
              <div class="col-6 d-grid mx-auto">
                <input required ngModel name="loginPassword" id="loginPassword" type="password" class="form-control ps_renergise_btn" placeholder="Password">
              </div>
              <div class="col-6 d-grid mx-auto"></div>
            </div>
        </div>
        </form>
        <div class="row pt-1">
          <div class="col-3 d-grid mx-auto">
            <button type="button" class="btn ps_renergise_btn" (click)="btnClickBack()">Back</button>
          </div>
          <div class="col-3 d-grid mx-auto">
            <button type="button" class="btn ps_renergise_btn" (click)="btnClickLogIn()">Log in</button>
          </div>
          <div class="col-6 d-grid mx-auto"></div>
        </div>

      </div>
  </div>
</div>