.ps_impconfigfile{
    min-height: 400px;
}

.ps_renergise_btn{
    max-width: 30em;
}

.ps_renergise_btn:hover{
    max-width: 30em;
}

.ps_renergise_reverse_btn{
    max-width: 30em;
}

.ps_renergise_reverse_btn:hover{
    max-width: 30em;
}