/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 30px;
}

ps_logo_green{
    color: #3BABB0;
}

ps_logo_light_blue{
    color: #124775;
}

ps_logo_dark_blue{
    color: #212945;
}