<div id="ps_generalpage" class="container bg-light">
    <div class="row ps_padding_20">
        <div class="col-md-6">
            <div class="row pt-4">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="General Information" src="assets/images/1x/btn_assetGeneralSelected.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="New Asset" src="assets/images/1x/btn_assetNew.png"></a></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div>    
            
            <div class="row">
                <div class="col-md-3 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Import Configuration File" src="assets/images/1x/btn_impConfFiles.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Import Data File" src="assets/images/1x/btn_impDataFiles.png"></a></div>
                <div class="col-md-2 d-grid mx-auto"></div>
            </div> 
            
            <div class="row">
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Asset Modify" src="assets/images/1x/btn_assetModify.png"></a></div>
                <div class="col-md-1 d-grid mx-auto"></div>
                <div class="col-md-3 d-grid mx-auto"><a href="#"><img title="Calculate" src="assets/images/1x/btn_calculate.png"></a></div>
                <div class="col-md-4 d-grid mx-auto"></div>
            </div> 
          </div>

      <div class="col-md-6 ps_form">
        <h1><img class="img-fluid ps_imgsize" title="General Information" src="assets/images/1x/generalInformationImage.png"> General</h1>
        <h2>Please fill in the form.</h2>
        
        <div class="row pt-4">
            <div class="col-8 d-grid mx-auto">
                <div class="ps_logo_green">What is General?</div>
                <div>Nam eu turpis at nibh consequat placerat. Praesent eu est hendrerit, pharetra ligula ut, semper nisl. Nam libero nisi, consectetur sed varius eget, mollis id nisi. </div>
            </div>
            <div class="col-4 d-grid mx-auto"></div>
        </div>    
        
        <div class="row pt-1">
            <div class="col-8 d-grid mx-auto">
                <mat-form-field appearance="fill">
                    <input matInput name="generalLocation" id="generalLocation" #generalLocation type="text" class="form-control ps_renergise_btn" placeholder="Location">
                </mat-form-field>                
            </div>
            <div class="col-4 d-grid mx-auto">
                <fa-icon [icon]="faMapMarkerAlt" size="2x" [styles]="{'color': '#FCC78C'}"></fa-icon>
            </div>
        </div> 

        <div class="row pt-1">
            <div class="col-8 d-grid mx-auto">
                <mat-form-field appearance="fill">
                    <select matNativeControl name="generalTimezone" id="generalTimezone" #generalTimezone class="form-control ps_renergise_btn">
                        <option value="">Select the timezone...</option>
                        <option value="Europe/Amsterdam">Amsterdam</option>
                        <option value="Europe/Andorra">Andorra</option>
                        <option value="Europe/Athens">Athens</option>
                        <option value="Europe/Belfast">Belfast</option>
                        <option value="Europe/Belgrade">Belgrade</option>
                        <option value="Europe/Berlin">Berlin</option>
                        <option value="Europe/Bratislava">Bratislava</option>
                        <option value="Europe/Brussels">Brussels</option>
                        <option value="Europe/Bucharest">Bucharest</option>
                        <option value="Europe/Budapest">Budapest</option>
                        <option value="Europe/Chisinau">Chisinau</option>
                        <option value="Europe/Copenhagen">Copenhagen</option>
                        <option value="Europe/Dublin">Dublin</option>
                        <option value="Europe/Gibraltar">Gibraltar</option>
                        <option value="Europe/Guernsey">Guernsey</option>
                        <option value="Europe/Helsinki">Helsinki</option>
                        <option value="Europe/Isle_of_Man">Isle of Man</option>
                        <option value="Europe/Istanbul">Istanbul</option>
                        <option value="Europe/Jersey">Jersey</option>
                        <option value="Europe/Kaliningrad">Kaliningrad</option>
                        <option value="Europe/Kiev">Kiev</option>
                        <option value="Europe/Lisbon">Lisbon</option>
                        <option value="Europe/Ljubljana">Ljubljana</option>
                        <option value="Europe/London">London</option>
                        <option value="Europe/Luxembourg">Luxembourg</option>
                        <option value="Europe/Madrid">Madrid</option>
                        <option value="Europe/Malta">Malta</option>
                        <option value="Europe/Mariehamn">Mariehamn</option>
                        <option value="Europe/Minsk">Minsk</option>
                        <option value="Europe/Monaco">Monaco</option>
                        <option value="Europe/Moscow">Moscow</option>
                        <option value="Europe/Nicosia">Nicosia</option>
                        <option value="Europe/Oslo">Oslo</option>
                        <option value="Europe/Paris">Paris</option>
                        <option value="Europe/Podgorica">Podgorica</option>
                        <option value="Europe/Prague">Prague</option>
                        <option value="Europe/Riga">Riga</option>
                        <option value="Europe/Rome">Rome</option>
                        <option value="Europe/Samara">Samara</option>
                        <option value="Europe/San_Marino">San Marino</option>
                        <option value="Europe/Sarajevo">Sarajevo</option>
                        <option value="Europe/Simferopol">Simferopol</option>
                        <option value="Europe/Skopje">Skopje</option>
                        <option value="Europe/Sofia">Sofia</option>
                        <option value="Europe/Stockholm">Stockholm</option>
                        <option value="Europe/Tallinn">Tallinn</option>
                        <option value="Europe/Tirane">Tirane</option>
                        <option value="Europe/Tiraspol">Tiraspol</option>
                        <option value="Europe/Uzhgorod">Uzhgorod</option>
                        <option value="Europe/Vaduz">Vaduz</option>
                        <option value="Europe/Vatican">Vatican</option>
                        <option value="Europe/Vienna">Vienna</option>
                        <option value="Europe/Vilnius">Vilnius</option>
                        <option value="Europe/Volgograd">Volgograd</option>
                        <option value="Europe/Warsaw">Warsaw</option>
                        <option value="Europe/Zagreb">Zagreb</option>
                        <option value="Europe/Zaporozhye">Zaporozhye</option>
                        <option value="Europe/Zurich">Zurich</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-4 d-grid mx-auto"></div>
        </div> 

        <div class="row pt-1">
            <div class="col-8 d-grid mx-auto">
                <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" name="generalStartDateTime" id="generalStartDateTime" #generalStartDateTime class="form-control ps_renergise_btn" placeholder="Start date and time">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4 d-grid mx-auto">
                <fa-icon mat-raised-button (click)="picker.open()" [icon]="faCalendarWeek" size="2x" [styles]="{'color': '#FCC78C'}"></fa-icon>
            </div>
        </div> 

        <div class="row pt-1">
            <div class="col-8 d-grid mx-auto">
                <mat-form-field appearance="fill">
                    <input matInput name="generalTempResolution" id="generalTempResolution" #generalTempResolution type="text" class="form-control ps_renergise_btn" placeholder="Temporal resolution">
                </mat-form-field>                
            </div>
            <div class="col-4 d-grid mx-auto">
                <fa-icon [icon]="faClock" size="2x" [styles]="{'color': '#FCC78C'}"></fa-icon>
            </div>
        </div> 

        <div class="row pt-1">
            <div class="col-4 d-grid mx-auto">
                <button type="button" class="btn ps_renergise_btn" (click)="btnClickClear()">Clear</button>
            </div>
            <div class="col-4 d-grid mx-auto">
                <button type="button" class="btn ps_renergise_btn" (click)="btnClickSubmit()">Submit</button>
            </div>
            <div class="col-4 d-grid mx-auto">
                
            </div>
        </div> 

      </div>
      
  </div>
</div>